name: Labeler
on: [pull_request]

jobs:
  label:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Apply path-based labels
      uses: actions/labeler@v6.0.1
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
